
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="YourNeighbourhood" asp-action="Index" method="post">
    <div>
        <label asp-for="#"></label>
        <input class="form-control" asp-for="#" />
        <label asp-for="#"></label>
        <input class="form-control" asp-for="#" />
    </div>

    <input type="submit" />

</form>