@model policeDataApi_Practice.ViewModels.DisplayLocalNeighbourhoodViewModel;
@{
    ViewData["Title"] = "Index";
}

@{

    if (Model.NeighbourhoodLoaded != false)
    {
        <h1>Your Neighbourhood</h1>
        <p>Force: <span>@Model.LocateNeighbourhood.force</span></p>
        @foreach (var member in Model.NeighbourhoodTeam)
        {
            <p>@member.name</p>
        }
        <p>Neighbourhood Details: @Model.NeighbourhoodDetails.name</p>
        <p>Neighbourhood Population: @Model.NeighbourhoodDetails.population</p>

    }
    else
    {
        <h1>Enter Postcode to Find Your Local Neighbourhood Info</h1>

        <form asp-controller="YourNeighbourhood" asp-action="Index" method="post">
            <div>
                <label asp-for="PostcodeIncode"></label>
                <input class="form-control" asp-for="PostcodeIncode" />
                <label asp-for="PostcodeOutcode"></label>
                <input class="form-control" asp-for="PostcodeOutcode" />
            </div>

            <input type="submit" />

        </form>
    }
}
