@model policeDataApi_Practice.ViewModels.DisplayStreetCrimeOutViewModel
@{
    ViewData["Title"] = "StreetCrimeOutcome";
}

<h1>StreetCrimeOutcome</h1>

@{ 
    if (Model.CrimeOutcomeLoaded == false)
    {
        <div>
            <p>No data for this crime</p>
        </div>
    }
    else
    {
        <div>
            <p>Crime ID </p>
            <p>Display Crime Name here</p>
            <p>Display Crime Location here</p>
            <p>Display Crime Time here</p>
            <p>Display Crime Outcome here</p>
        </div>
    }
}
