
@{
    ViewData["Title"] = "StreetCrimeOutcome";
}

<h1>StreetCrimeOutcome</h1>

<div>
    <p>Crime ID = @ViewBag.CrimeId </p>
    <p>Display Crime Name here</p>
    <p>Display Crime Location here</p>
    <p>Display Crime Time here</p>
    <p>Display Crime Outcome here</p>
</div>